[flake8]
max-line-length = 88
extend-ignore =
    C901,
    E203,
    E402,
    E501,
    E712,
    E722,
    F401,
    F402,
    F541,
    F811,
    F841,
    W291,
    W293,
    W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .tox,
    build,
    dist,
    alembic/versions
